.nav{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f48fb1;
    height: 60px;
    h2{
        font-weight: bold;
        text-transform: uppercase;
        color:white;
    }
}